@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --hero-dark:linear-gradient(147.92deg, hsla(239, 76%, 53%, 0.456) 10.41%, hsla(0, 0%, 100%, 0)89.25%);
  --hero-light: inear-gradient(147.92deg, #dfdfdf, #fff, #f8f8f8);
}

@media(prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(var(--foreground-rgb))
}

  .hero_animation {
    animation: changeBackgroundColor 8s infinite alternate;
  }


@keyframes changeBackgroundColor {

  0%,
  100% {
    opacity: 1
  }

  16.67% {
    opacity: 0.9
  }

  33.33% {
    opacity: 0.8
  }

  50% {
    opacity: 0.6
  }

  66.67% {
    opacity: 0.5
  }

}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px)
  }
  60% {
    transform: translateX(-2px)
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* remove arrows in input:number */
/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */